---
import Hero from "../components/Hero.astro";
import Team from "../components/Team.astro";
import Layout from "../layouts/Layout.astro";
import AboutPrecision from "../components/AboutPrecision.astro";
import WhyChoose2 from "../components/WhyChoose2.astro";
import WhyChoose3 from "../components/WhyChoose3.astro";
import Achievement from "../components/Achievement.astro";
import Certifications from "../components/Certifications.astro";
import SuccessStories from "../components/SuccessStories.astro";
import FAQ from "../components/FAQ.astro";
import ContactForm from "../components/ContactForm";
import Solutions from "../components/Solutions";
import ServiceLines from "../components/ServiceLines";
import MigrantsProgram from "../components/MigrantsProgram.astro";
import PricingSection from "../components/PricingSection.astro";
import TeamMembers from "../components/TeamMembers.astro";
---

<Layout title="Precision Care">
  <Hero />
  <!-- <Certifications /> -->
  <WhyChoose3 />
  <!-- <WhyChoose2 /> -->
  <AboutPrecision />
  <Achievement />
  <!-- <WhyChoose2 /> -->
  <ServiceLines client:load/>
  <Solutions client:load />
  <PricingSection/>
  <div class="mx-auto border-b-2 border-main/70 w-1/2"></div>
  <!-- <Team /> -->
  <TeamMembers/>
  <MigrantsProgram />
  <!-- <SuccessStories /> -->
  <ContactForm client:load/>
  <FAQ />
</Layout>
