<section class="pt-10 lg:pt-20 pb-0 lg:pb-8">
  <div
    class="flex items-center px-16 relative h-full md:h-56 bg-cover bg-center overflow-hidden"
    style="background-image: url('./img/background.jpeg')"
  >
    <!-- <img class="absolute inset-0 object-cover object-center" src="./img/background.jpeg" alt="test"> -->
    <div
      class="text-white text-center text-sm gap-5 z-10 relative grid grid-cols-2 md:grid-cols-4 md:max-w-[1300px] md:mx-auto md:px-14 w-full py-6 md:py-0 place-items-center md:place-content-start"
    >
      <div
        class="flex flex-col items-center border-none md:border-r border-slate-400 md:pr-5"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-speech w-14 h-14"
          ><path
            d="M8.8 20v-4.1l1.9.2a2.3 2.3 0 0 0 2.164-2.1V8.3A5.37 5.37 0 0 0 2 8.25c0 2.8.656 3.054 1 4.55a5.77 5.77 0 0 1 .029 2.758L2 20"
          ></path><path d="M19.8 17.8a7.5 7.5 0 0 0 .003-10.603"></path><path
            d="M17 15a3.5 3.5 0 0 0-.025-4.975"></path></svg
        >
        <p class="text-base lg:text-lg font-semibold">
          +350 Conferencias Nacionales e Internacionales
        </p>
      </div>
      <div
        class="flex flex-col items-center border-none md:border-r border-slate-400 md:pr-5"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-newspaper w-14 h-14"
          ><path
            d="M4 22h16a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H8a2 2 0 0 0-2 2v16a2 2 0 0 1-2 2Zm0 0a2 2 0 0 1-2-2v-9c0-1.1.9-2 2-2h2"
          ></path><path d="M18 14h-8"></path><path d="M15 18h-5"></path><path
            d="M10 6h8v4h-8V6Z"></path></svg
        >
        <p class="text-base lg:text-lg font-semibold">
          +180 Publicaciones cientificas
        </p>
      </div>
      <div
        class="flex flex-col items-center border-none md:border-r border-slate-400 md:pr-5"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-paperclip w-14 h-14"
          ><path d="M13.234 20.252 21 12.3"></path><path
            d="m16 6-8.414 8.586a2 2 0 0 0 0 2.828 2 2 0 0 0 2.828 0l8.414-8.586a4 4 0 0 0 0-5.656 4 4 0 0 0-5.656 0l-8.415 8.585a6 6 0 1 0 8.486 8.486"
          ></path></svg
        >
        <p class="text-base lg:text-lg font-semibold">
          +29,000 Citaciones en publicaciones médicas
        </p>
      </div>
      <div class="flex flex-col items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-users w-14 h-14"
          ><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path><circle
            cx="9"
            cy="7"
            r="4"></circle><path d="M22 21v-2a4 4 0 0 0-3-3.87"></path><path
            d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg
        >
        <p class="text-base lg:text-lg font-semibold">
          +15,000 Pacientes atendidos en diversos paises
        </p>
      </div>
    </div>
    <div class="bg-main/80 absolute inset-0"></div>
  </div>
</section>
