<div class="flex justify-center items-center mx-auto w-1/2 h-[100px] bg-main relative -top-14 z-10 drop-shadow-md border border-[#152d55] rounded-lg">
        <ul class="flex justify-center items-center gap-5 text-white">
            <li>Certificación 1</li>
            <li>Certificación 2</li>
            <li>Certificación 3</li>
            <li>Certificación 4</li>
            <li>Certificación 5</li>
        </ul>
</div>