<div class="flex justify-center items-center mx-auto w-full md:w-3/4 lg:w-1/2 h-[80px] lg:h-[100px] bg-main relative md:-top-11 lg:-top-14 z-10 drop-shadow-md border border-[#152d55] rounded-none md:rounded-lg">
        <ul class="truncate text-nowrap md:text-sm lg:text-base flex justify-center items-center gap-2 md:gap-5 text-white">
            <li>Certificación 1</li>
            <li>Certificación 2</li>
            <li>Certificación 3</li>
            <li>Certificación 4</li>
            <li>Certificación 5</li>
        </ul>
</div>