---
import CopyToClipboard from "./others/CopyToClipboard.astro";
---

<section id="faq" class="scroll-mt-[90px] lg:scroll-mt-[100px] bg-main/5">
  <div
    class="max-w-[1300px] mx-auto px-5 md:px-10 lg:px-14 py-12 lg:py-16 text-slate-700"
  >
    <h4 class="text-2xl md:text-3xl font-bold text-center mb-10">
      Preguntas frecuentes
    </h4>
    <div class="bg-main/10 rounded-lg">
      <div tabindex="0" class="collapse collapse-plus">
        <div
          class="collapse-title text-base md:text-xl font-medium hover:text-black transition-colors duration-100"
        >
          ¿Las consultas las cubre mi Seguro de salud?
        </div>
        <div class="collapse-content">
          <p>
            No, las mayoría de las compañías de Seguro no cubren consultas vía
            Telemedicina
          </p>
        </div>
      </div>
      <div class="mx-auto border-b border-main/20 w-[98%]"></div>
      <div tabindex="0" class="collapse collapse-plus">
        <div
          class="collapse-title text-base md:text-xl font-medium hover:text-black transition-colors duration-100"
        >
          ¿Los médicos me prescriben los medicamentos que necesito?
        </div>
        <div class="collapse-content">
          <p>
            Si, solo en aquellos países donde nuestro programa tiene médicos
            certificados
          </p>
        </div>
      </div>
      <div class="mx-auto border-b border-main/20 w-[98%]"></div>
      <div tabindex="0" class="collapse collapse-plus">
        <div
          class="collapse-title text-base md:text-xl font-medium hover:text-black transition-colors duration-100"
        >
          ¿Con que frecuencia son las consultas del Dr. Ramfis Nieto?
        </div>
        <div class="collapse-content">
          <p>
            Después de las 2 consultas iniciales de evaluación indicación de
            tratamiento medico y prescripciones de estilo de vida, las consultas
            con el Dr Ramfis Nieto son cada 2 o 3 meses los primeros 6 meses y
            luego 2 veces al año. La frecuencia puede variar de acuerdo al caso
            y al acuerdo con el paciente
          </p>
        </div>
      </div>
      <div class="mx-auto border-b border-main/20 w-[98%]"></div>
      <div tabindex="0" class="collapse collapse-plus">
        <div
          class="collapse-title text-base md:text-xl font-medium hover:text-black transition-colors duration-100"
        >
          ¿Cuántas consultas tiene y cuál es la duración del Programa Completo?
        </div>
        <div class="collapse-content">
          <p>
            El programa consta de 2 consultas medicas especializadas, 4
            consultas de Psicología y 3 consultas de Actividad física y
            Ejercicio. La duración es entre 3 y 4 meses
          </p>
        </div>
      </div>
      <div class="mx-auto border-b border-main/20 w-[98%]"></div>
      <div tabindex="0" class="collapse collapse-plus">
        <div
          class="collapse-title text-base md:text-xl font-medium hover:text-black transition-colors duration-100"
        >
          ¿Debo tomar obligatoriamente todo el programa?
        </div>
        <div class="collapse-content">
          <p>
            No es mandatorio tomar todo el programa, es posible hacer consultas
            individuales con cada miembro del equipo y las consultas sucesivas
            se agendaran en acuerdo con cada paciente y de acuerdo a cada caso
            particular
          </p>
        </div>
      </div>
      <div class="mx-auto border-b border-main/20 w-[98%]"></div>
      <div tabindex="0" class="collapse collapse-plus">
        <div
          class="collapse-title text-base md:text-xl font-medium hover:text-black transition-colors duration-100"
        >
          ¿Puedo tomar consultas con el Psicólogo, Nutricionista, o Consultas de
          ejercicio de forma individual o siempre debe verme el medico?
        </div>
        <div class="collapse-content">
          <p>
            Si puedes tomar cualquier consulta que desees con cualquier miembro
            de Precision care. Al tomar el Programa Completo si debes incluir al
            menos 2 consultas medicas
          </p>
        </div>
      </div>
      <div class="mx-auto border-b border-main/20 w-[98%]"></div>
      <div tabindex="0" class="collapse collapse-plus">
        <div
          class="collapse-title text-base md:text-xl font-medium hover:text-black transition-colors duration-100"
        >
          ¿Quiero ser paciente de Precision Care, pero tengo algunas preguntas?
        </div>
        <div class="collapse-content">
          <p>
            Sera un placer contestar todas tus preguntas y dudas. Puedes mandar
            un texto por WhatsApp al +1 (321) 333-2706 o +58 (414) 518-6283, o
            un email a contacto@precisioncareclinic.org.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center gap-3 font-semibold pt-10">
      <h5 class="text-xl md:text-2xl font-bold text-center">
        ¿Tienes alguna otra pregunta?
      </h5>
      <p class="text-center text-sm md:text-base">
        Responderemos cualquiera de tus dudas a la brevedad<span class="block"
        ></span>Alguien de nuestro equipo se pondra en contacto contigo
      </p>
      <CopyToClipboard />
    </div>
  </div>
</section>
