---
import FacebookIcon from "./assets/FacebookIcon.astro";
import InstagramIcon from "./assets/InstagramIcon.astro";
---

<footer class="bg-main text-[#e9f9ff]">
  <div
    class="grid grid-cols-1 md:grid-cols-3 gap-10 mx-auto max-w-[1200px] px-5 md:px-14 py-16"
  >
    <div class="space-y-4">
      <h4 class="text-2xl font-bold border-b border-[#e9f9ff] pb-2 w-1/2">
        Logo
      </h4>
      <p>
        Te ofrece atención médica de calidad para ti y tu familia en todo
        momento y desde cualquier lugar
      </p>
      <div>
        <p class="font-bold">Horario:</p>
        <p>Lunes a Viernes: 9:00 - 18:00</p>
      </div>
      <div class="flex gap-2">
        <InstagramIcon
          classname="w-8 h-8 text-[#e9f9ff] cursor-pointer hover:opacity-75"
        />
        <FacebookIcon
          classname="w-8 h-8 text-[#e9f9ff] cursor-pointer hover:opacity-75"
        />
      </div>
    </div>
    <div class="space-y-2 order-3 md:order-none">
      <h4 class="text-2xl font-bold border-b border-[#e9f9ff] pb-2 w-1/2">
        Servicios
      </h4>
      <p><a href="#why">Nosotros</a></p>
      <p><a href="#services">Lineas de servicio</a></p>
      <p><a href="#program">Soluciones</a></p>
      <p><a href="#faq">Preguntas</a></p>
    </div>
    <div class="space-y-2 order-2 md:order-none">
      <h4 class="text-2xl font-bold border-b border-[#e9f9ff] pb-2 w-1/2">
        Contacto
      </h4>
      <div>
        <p class="font-bold">Teléfono:</p>
        <p>+1 234 567 890</p>
      </div>
      <div>
        <p class="font-bold">Correo:</p>
        <p>precisioncare@gmail.com</p>
      </div>
      <div>
        <p class="font-bold">Dirección:</p>
        <p>
          Centro Empresarial Barquisimeto Av. Los Leones, Barquisimeto,
          Venezuela
        </p>
      </div>
    </div>
  </div>
  <div
    class="flex justify-center items-center mx-auto max-w-[1200px] px-5 md:px-14 pb-5"
  >
    <p class="text-[#e9f9ff]">Precision Care © 2024, All Rights Reserved.</p>
  </div>
</footer>
