---
import SelectForm from "./SelectForm";
---

<section id="contact" class="scroll-mt-[90px] lg:scroll-mt-[70px]">
  <div
    class="max-w-[1300px] mx-auto flex flex-col justify-center items-center text-2xl py-12 lg:py-16 px-5 md:px-10 lg:px-14"
  >
    <h4 class="text-2xl font-bold text-[#009aff]">Contactanos</h4>
    <p class="text-xl md:text-2xl lg:text-3xl text-center text-main/90">
      Estamos listos para acompañarte. Agenda tu consulta y comienza la
      transformación hacia una vida más saludable.
    </p>
    <form
      id="contact-form"
      class="grid grid-cols-2 gap-3 w-full mt-4 max-w-3xl text-black"
    >
      <label class="form-control col-span-2 md:col-span-1">
        <div class="label">
          <span class="label-text text-black">Nombre</span>
        </div>
        <input
          type="text"
          class="bg-main/10 input border border-main/20 w-full focus:outline-main/60"
          required
        />
      </label>
      <label class="form-control col-span-2 md:col-span-1">
        <div class="label">
          <span class="label-text text-black">Apellido</span>
        </div>
        <input
          type="text"
          class="bg-main/10 input border border-main/20 w-full focus:outline-main/60"
          required
        />
      </label>
      <label class="form-control col-span-2 md:col-span-1">
        <div class="label">
          <span class="label-text text-black">Email</span>
        </div>
        <input
          type="text"
          class="bg-main/10 input border border-main/20 w-full focus:outline-main/60"
          required
        />
      </label>
      <label class="form-control col-span-2 md:col-span-1">
        <div class="label">
          <span class="label-text text-black">Teléfono</span>
        </div>
        <input
          type="text"
          class="bg-main/10 input border border-main/20 w-full focus:outline-main/60"
          required
        />
      </label>

      <div class="flex flex-col gap-2">
        <SelectForm client:load />
      </div>

      <div class="flex flex-col gap-2">
        <label for="migrante" class="text-sm -mb-1">Fecha deseada</label>
        <input
          type="date"
          class="bg-main/10 input border border-main/20 w-full focus:outline-main/60 col-span-2 md:col-span-1"
          placeholder="Fecha deseada"
          required
        />
      </div>

      <label class="form-control col-span-2">
        <div class="label">
          <span class="label-text text-black">Mensaje</span>
        </div>
        <textarea
          class="textarea bg-main/10 border border-main/20 focus:outline-main/60"
        ></textarea>
      </label>

      <div class="col-span-2 flex items-center gap-2 my-2">
        <input
          type="checkbox"
          id="migrante"
          class="checkbox bg-main/10 border border-main/20"
        />
        <label for="migrante" class="text-base"
          >Me interesa aplicar al programa de migrantes</label
        >
      </div>

      <button type="submit" class="btn bg-main text-white col-span-2"
        >Enviar</button
      >
    </form>
  </div>
</section>

<script>
  const form = document.getElementById("contact-form");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    console.log("Formulario enviado");
  });
</script>
