<section>
    <div
      class="max-w-[1200px] mx-auto flex flex-col justify-center items-center text-2xl py-12 lg:py-16 px-5 md:px-10 lg:px-14"
    >
    <h4 class="text-2xl font-bold text-[#009aff]">
        Contact Us
      </h4>
      <p class="text-xl md:text-2xl lg:text-3xl text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
      </p>
      <form class="grid grid-cols-2 gap-4 w-full mt-6 max-w-3xl text-black">
        <input type="text" placeholder="Nombre" class="bg-main/10 input border border-main/20 w-full focus:outline-main/60 " />
        <input type="text" placeholder="Apellido" class="bg-main/10 input border border-main/20 w-full focus:outline-main/60" />
        <input type="text" placeholder="Email" class="bg-main/10 input border border-main/20 w-full focus:outline-main/60" />
        <input type="text" placeholder="Teléfono" class="bg-main/10 input border border-main/20 w-full focus:outline-main/60" />
        <textarea class="textarea col-span-2 bg-main/10 border border-main/20 focus:outline-main/60" placeholder="Mensaje"></textarea>
        <button class="btn bg-main text-white col-span-2">Enviar</button>
      </form>
    </div>
  </section>
  