<section class="max-w-[1200px] mx-auto px-14 py-16">
    <div class="flex flex-col items-center gap-3 font-semibold">
      <h3 class="text-2xl text-[#009aff]">Nuestro Programa</h3>
      <p class="text-4xl text-center">
        Lorem ipsum dolor sit amet, consectetur
      </p>
    </div>
    <div class="flex justify-center gap-12 text-white text-lg my-12">
      <button
        class="flex items-center h-14 gap-8 bg-main rounded-lg w-full hover:text-white relative"
      >
        <div class="flex items-center rounded-l-lg bg-[#009aff] h-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 mx-5"
            viewBox="0 0 2048 2048"
            ><path
              fill="currentColor"
              d="M1728 640q66 0 124 25t101 69t69 102t26 124q0 57-19 109t-53 93t-81 71t-103 41v102q0 89-22 173t-62 160t-98 137t-129 107t-155 70t-174 25q-91 0-174-25t-154-70t-129-107t-98-137t-63-159t-22-174v-229q-123-11-218-59T133 962T34 781T0 558V0h320q26 0 45 19t19 45t-19 45t-45 19H128v430q0 106 29 192t87 147t140 94t192 33q101 0 184-31t141-89t91-140t32-185V128H832q-26 0-45-19t-19-45t19-45t45-19h320v558q0 120-34 223t-99 181t-160 126t-219 59v229q0 107 38 205t107 174t162 120t205 45q111 0 204-45t162-120t107-173t39-206v-102q-56-12-103-41t-81-70t-53-94t-19-109q0-66 25-124t68-101t102-69t125-26m0 512q40 0 75-15t61-41t41-61t15-75t-15-75t-41-61t-61-41t-75-15t-75 15t-61 41t-41 61t-15 75t15 75t41 61t61 41t75 15"
            ></path></svg
          >
        </div>
        <p class="font-bold">Etapa 1</p>
        <div
          class="absolute -bottom-2 left-1/2 w-7 h-7 rotate-45 bg-main -z-10 -translate-x-1/2"
        >
        </div>
      </button>
      <button
        class="flex items-center h-14 gap-8 bg-white rounded-lg w-full text-black relative"
      >
        <div class="text-[#009aff]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 ml-9"
            viewBox="0 0 2048 2048"
            ><path
              fill="currentColor"
              d="M1728 640q66 0 124 25t101 69t69 102t26 124q0 57-19 109t-53 93t-81 71t-103 41v102q0 89-22 173t-62 160t-98 137t-129 107t-155 70t-174 25q-91 0-174-25t-154-70t-129-107t-98-137t-63-159t-22-174v-229q-123-11-218-59T133 962T34 781T0 558V0h320q26 0 45 19t19 45t-19 45t-45 19H128v430q0 106 29 192t87 147t140 94t192 33q101 0 184-31t141-89t91-140t32-185V128H832q-26 0-45-19t-19-45t19-45t45-19h320v558q0 120-34 223t-99 181t-160 126t-219 59v229q0 107 38 205t107 174t162 120t205 45q111 0 204-45t162-120t107-173t39-206v-102q-56-12-103-41t-81-70t-53-94t-19-109q0-66 25-124t68-101t102-69t125-26m0 512q40 0 75-15t61-41t41-61t15-75t-15-75t-41-61t-61-41t-75-15t-75 15t-61 41t-41 61t-15 75t15 75t41 61t61 41t75 15"
            ></path>
          </svg>
        </div>
        <p class="font-bold">Etapa 2</p>
      </button>
      <button
        class="flex items-center h-14 gap-8 bg-white rounded-lg w-full text-black relative"
      >
        <div class="text-[#009aff]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 ml-9"
            viewBox="0 0 2048 2048"
            ><path
              fill="currentColor"
              d="M1728 640q66 0 124 25t101 69t69 102t26 124q0 57-19 109t-53 93t-81 71t-103 41v102q0 89-22 173t-62 160t-98 137t-129 107t-155 70t-174 25q-91 0-174-25t-154-70t-129-107t-98-137t-63-159t-22-174v-229q-123-11-218-59T133 962T34 781T0 558V0h320q26 0 45 19t19 45t-19 45t-45 19H128v430q0 106 29 192t87 147t140 94t192 33q101 0 184-31t141-89t91-140t32-185V128H832q-26 0-45-19t-19-45t19-45t45-19h320v558q0 120-34 223t-99 181t-160 126t-219 59v229q0 107 38 205t107 174t162 120t205 45q111 0 204-45t162-120t107-173t39-206v-102q-56-12-103-41t-81-70t-53-94t-19-109q0-66 25-124t68-101t102-69t125-26m0 512q40 0 75-15t61-41t41-61t15-75t-15-75t-41-61t-61-41t-75-15t-75 15t-61 41t-41 61t-15 75t15 75t41 61t61 41t75 15"
            ></path>
          </svg>
        </div>
        <p class="font-bold">Etapa 3</p>
      </button>
      <button
        class="flex items-center h-14 gap-8 bg-white rounded-lg w-full text-black relative"
      >
        <div class="text-[#009aff]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 ml-9"
            viewBox="0 0 2048 2048"
            ><path
              fill="currentColor"
              d="M1728 640q66 0 124 25t101 69t69 102t26 124q0 57-19 109t-53 93t-81 71t-103 41v102q0 89-22 173t-62 160t-98 137t-129 107t-155 70t-174 25q-91 0-174-25t-154-70t-129-107t-98-137t-63-159t-22-174v-229q-123-11-218-59T133 962T34 781T0 558V0h320q26 0 45 19t19 45t-19 45t-45 19H128v430q0 106 29 192t87 147t140 94t192 33q101 0 184-31t141-89t91-140t32-185V128H832q-26 0-45-19t-19-45t19-45t45-19h320v558q0 120-34 223t-99 181t-160 126t-219 59v229q0 107 38 205t107 174t162 120t205 45q111 0 204-45t162-120t107-173t39-206v-102q-56-12-103-41t-81-70t-53-94t-19-109q0-66 25-124t68-101t102-69t125-26m0 512q40 0 75-15t61-41t41-61t15-75t-15-75t-41-61t-61-41t-75-15t-75 15t-61 41t-41 61t-15 75t15 75t41 61t61 41t75 15"
            ></path>
          </svg>
        </div>
        <p class="font-bold">Etapa 4</p>
      </button>
    </div>
    <div
      class="flex justify-center items-center bg-white border border-slate-400 rounded-lg w-full h-[400px]"
    >
      contenido del programa por etapas
    </div>
</section>
