<section class="bg-main/5">
  <div
    class="max-w-[1200px] mx-auto flex flex-col justify-center items-center text-2xl py-12 lg:py-16 px-5 md:px-10 lg:px-14"
  >
    <h4 class="text-xl md:text-2xl font-bold text-[#009aff]">
      Historias de nuestros pacientes
    </h4>
    <p class="text-xl md:text-3xl lg:text-4xl text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
    </p>
    <article class="flex flex-col md:flex-row gap-6 lg:gap-12 pt-12">
      <div class="flex flex-col w-full md:w-[58%] lg:w-1/2 gap-4">
        <span class="text-base">12 Jun, 2024</span>
        <p class="text-2xl font-semibold text-black">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="text-base lg:text-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
          quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
          nostrum, deserunt voluptates sapiente omnis tempore explicabo, porro,
          similique rem sequi deleniti veritatis. Optio alias facilis ad dolorem
          voluptatum quasi tempora?
        </p>
      </div>
      <img
        class="flex justify-center items-center w-full md:w-[42%] lg:w-1/2 lg:h-[320px] bg-slate-400 text-white rounded-lg"
        src="./img/background.jpeg"
        alt="success-stories"
      />
    </article>
    <p class="text-xl md:text-3xl lg:text-4xl text-center mt-12 mb-6">
      Otras historias
    </p>
    <div class="grid place-content-between grid-cols-1 md:grid-cols-2 lg:flex justify-between gap-6 w-full bg-main/5 p-6 rounded-lg">
      <div class="flex flex-col gap-1 text-black w-full">
        <img
          class="flex justify-center items-center w-full rounded-lg"
          src="./img/background.jpeg"
          alt="success-stories"
        />
        <p class="text-lg font-semibold">Lorem ipsum dolor sit amet.</p>
        <p class="text-sm">12 Jun, 2024</p>
      </div>
      <div class="flex flex-col gap-1 text-black w-full">
        <img
          class="flex justify-center items-center w-full rounded-lg"
          src="./img/background.jpeg"
          alt="success-stories"
        />
        <p class="text-lg font-semibold">Lorem ipsum dolor sit amet.</p>
        <p class="text-sm">12 Jun, 2024</p>
      </div>
      <div class="flex flex-col gap-1 text-black w-full">
        <img
          class="flex justify-center items-center w-full rounded-lg"
          src="./img/background.jpeg"
          alt="success-stories"
        />
        <p class="text-lg font-semibold">Lorem ipsum dolor sit amet.</p>
        <p class="text-sm">12 Jun, 2024</p>
      </div>
      <div class="flex flex-col gap-1 text-black w-full">
        <img
          class="flex justify-center items-center w-full rounded-lg"
          src="./img/background.jpeg"
          alt="success-stories"
        />
        <p class="text-lg font-semibold">Lorem ipsum dolor sit amet.</p>
        <p class="text-sm">12 Jun, 2024</p>
      </div>
    </div>
  </div>
</section>
