---
import FacebookIcon from "./assets/FacebookIcon.astro";
import InstagramIcon from "./assets/InstagramIcon.astro";
---

<section class="bg-main/90">
  <div class="max-w-[1200px] mx-auto px-5 md:px-10 lg:px-14 py-12 lg:py-16">
    <div class="flex flex-col items-center gap-3 font-semibold">
      <h3 class="text-2xl text-[#009aff]">Nuestro Equipo</h3>
      <p class="text-2xl md:text-3xl lg:text-4xl text-center text-white">
        Lorem ipsum dolor sit amet, consectetur
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 md:gap-4 mt-10 h-full">
      <div class="flex flex-col items-center gap-4 bg-white rounded-lg h-[350px] overflow-hidden">
        <div class="flex items-center justify-center h-2/3 w-full bg-slate-600">
          Imagen
        </div>
        <div class="flex flex-col items-center justify-center font-semibold text-center">
          <p class="text-[#009aff]">Internista</p>
          <p class="text-lg">Dr Ramfis Nieto</p>
          <div class="flex justify-center gap-2">
            <InstagramIcon classname="w-8 h-8 text-[#009aff]" />
            <FacebookIcon classname="w-8 h-8 text-[#009aff]" />
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center gap-4 bg-white rounded-lg h-[350px] overflow-hidden mt-0 md:mt-12">
        <div class="flex items-center justify-center h-2/3 w-full bg-slate-600">
          Imagen
        </div>
        <div class="flex flex-col items-center justify-center font-semibold text-center">
          <p class="text-[#009aff]">Internista</p>
          <p class="text-lg">Dr Ramfis Nieto</p>
          <div class="flex justify-center gap-2">
            <InstagramIcon classname="w-8 h-8 text-[#009aff]" />
            <FacebookIcon classname="w-8 h-8 text-[#009aff]" />
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center gap-4 bg-white rounded-lg h-[350px] overflow-hidden">
        <div class="flex items-center justify-center h-2/3 w-full bg-slate-600">
          Imagen
        </div>
        <div class="flex flex-col items-center justify-center font-semibold text-center">
          <p class="text-[#009aff]">Internista</p>
          <p class="text-lg">Dr Ramfis Nieto</p>
          <div class="flex justify-center gap-2">
            <InstagramIcon classname="w-8 h-8 text-[#009aff]" />
            <FacebookIcon classname="w-8 h-8 text-[#009aff]" />
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center gap-4 bg-white rounded-lg h-[350px] overflow-hidden mt-0 md:mt-12">
        <div class="flex items-center justify-center h-2/3 w-full bg-slate-600">
          Imagen
        </div>
        <div class="flex flex-col items-center justify-center font-semibold text-center">
          <p class="text-[#009aff]">Internista</p>
          <p class="text-lg">Dr Ramfis Nieto</p>
          <div class="flex justify-center gap-2">
            <InstagramIcon classname="w-8 h-8 text-[#009aff]" />
            <FacebookIcon classname="w-8 h-8 text-[#009aff]" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
