<section class="max-w-[1300px] mx-auto px-5 md:px-10 lg:px-14 pb-8">
  <article class="flex justify-center items-center mt-10 md:mt-12 lg:mt-16">
    <div class="flex flex-col lg:grid lg:grid-cols-3 gap-5">
      <div class="flex flex-col">
        <h2 class="text-3xl w-5/6 font-semibold text-[#009aff]">
          Acerca de Precision Care
        </h2>
        <p class="mt-5">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore qui
            aspernatur est neque nulla quia quaerat ducimus quis perferendis
            voluptatum molestias non, quibusdam dicta. Molestias dicta consectetur
            harum temporibus asperiores?
        </p>
      </div>
      <div class="hidden lg:block row-span-2 relative rounded-lg overflow-hidden">
        <img src="./img/doctor.jpg" class="h-full object-cover" />
        <div class="absolute inset-0 bg-main/35"></div>
      </div>
      <div class="hidden lg:block relative rounded-lg overflow-hidden">
        <img src="./img/background.jpeg" />
        <div class="absolute inset-0 bg-main/35"></div>
      </div>
      <div class="hidden lg:block relative rounded-lg overflow-hidden">
        <img src="./img/background.jpeg" />
        <div class="absolute inset-0 bg-main/35"></div>
      </div>
      <div class="flex-col hidden lg:flex">
        <h2 class="text-3xl w-5/6 font-semibold text-[#009aff]">
          Lorem ipsum dolor sit
        </h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore qui
          aspernatur est neque nulla quia quaerat ducimus quis perferendis
          voluptatum molestias non, quibusdam dicta. Molestias dicta consectetur
          harum temporibus asperiores?
        </p>
      </div>

      <!-- Mobile and tablet -->
      <div class="flex justify-center gap-5 lg:hidden max-h-[250px] md:max-h-[350px] h-[350px]">
        <div class="flex flex-col justify-between w-1/2 gap-5 h-full">
          <div class="relative rounded-lg overflow-hidden">
            <img src="./img/background.jpeg" class="h-[7.5rem] md:h-full"/>
            <div class="absolute inset-0 bg-main/35"></div>
          </div>
          <div class="relative rounded-lg overflow-hidden">
            <img src="./img/background.jpeg" class="h-[7.5rem] md:h-full w-full"/>
            <div class="absolute inset-0 bg-main/35"></div>
          </div>
        </div>
        <div class="relative rounded-lg overflow-hidden ">
          <img src="./img/doctor.jpg" class="w-[200px] h-[250px] md:w-full md:h-full object-cover" />
          <div class="absolute inset-0 bg-main/35"></div>
        </div>
      </div>
    </div>
  </article>
</section>
