---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Precision Care: telemedicina centrada en la medicina del estilo de vida, especializada en la prevención y el tratamiento de enfermedades crónicas, con un enfoque particular en la salud cardiometabólica." />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Precision Care: telemedicina centrada en la medicina del estilo de vida, especializada en la prevención y el tratamiento de enfermedades crónicas, con un enfoque particular en la salud cardiometabólica." />
    <meta property="og:site_name" content="Precision Care" />
    <meta property="og:description" content="Precision Care: telemedicina centrada en la medicina del estilo de vida, especializada en la prevención y el tratamiento de enfermedades crónicas, con un enfoque particular en la salud cardiometabólica." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/favicon.png" />
    <meta name="robots" content="index, follow">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="keywords"
      content="Telemedicina, Medicina cardiometabólica, Nutrición, Estilo de vida saludable, Enfermedades crónicas, Obesidad, Diabetes tipo 2, Hipertensión arterial, Dislipidemias, Atención médica personalizada, Precision Care, Salud para migrantes, Programa de telemedicina para obesidad, Tratamiento de diabetes tipo 2 online, Nutrición para enfermedades cardiometabólicas, Médico especialista en nutrición y estilo de vida, Atención médica personalizada para migrantes venezolanos, Prevención de enfermedades crónicas por telemedicina, Control de la hipertensión arterial por telemedicina, Programa multidisciplinario de salud online, Como controlar la obesidad, Como bajar el colesterol, Como controlar la diabetes, Como bajar la tensión arterial, Ramfis Nieto, Lown Scholar Harvard, Excelencia médica venezolana, Telemedicina Estados Unidos, Telemedicina Florida, cómo tratar la obesidad, médico especialista en diabetes online, programa para bajar de peso online, telemedicina para enfermedades crónicas, donde puedo tratar la hipertensión arterial, Hipertensión arterial, Dislipidemia, Prevención cardiovascular, Aterosclerosis, Enfermedades Crónicas, Enfermedad pulmonar crónica, Enfermedad renal crónica, Enfermedad neoplásica, Enfermedad inmuno-inflamatoria, Enfermedad neurodegenerativa, Detección temprana de enfermedades, Cirugía Bariátrica, Cuidados pre-operatorios, Cuidados post-operatorios, Preparación para cirugía bariátrica, Recuperación cirugía bariátrica, Nutrición post-bariátrica, Nutrición Especializada, Soporte nutricional, Nutrición enteral, Nutrición parenteral, Dietas especiales, Dieta antiinflamatoria, Dieta baja en FODMAPs, Dieta cetogénica, Salud Deportiva y Preventiva, Medicina del deporte, Rendimiento físico, Atletas y nutrición, Evaluación de salud preventiva, Optimización deportiva, Fisiólogos del ejercicio, Salud Infantil y Adolescente, Obesidad infantil, Riesgo cardiometabólico en niños, Nutrición pediátrica, Actividad física para niños, Salud familiar, Segunda Opinión Médica, Diagnóstico médico especializado, Consulta médica online, Revisión de casos médicos complejos, Evaluación médica integral, Informe médico detallado, Salud Mental, Bienestar emocional, Manejo del estrés, Ansiedad y depresión, Trastornos alimentarios, Psicología de la salud, Mindfulness, Salud para Migrantes, Atención médica para migrantes, Duelo migratorio, Acceso a servicios de salud, Salud intercultural, Adaptación y salud, Términos Técnicos Médicos, Evaluación cardiometabólica, Monitoreo continuo, Plan de intervención personalizado, Remisión de enfermedades, Prevención de complicaciones, Medicina de estilo de vida, Telemedicina, Medicina del estilo de vida, Salud cardiometabólica, Atención médica personalizada, Consultas virtuales, Salud integral, Enfermedades crónicas, Medicina cardiometabólica, Control de obesidad y peso, Tratamiento de diabetes y prediabetes, Hipertensión, Colesterol alto, Nutrición clínica, Psicología de la salud, Prescripción de ejercicio, Atención multidisciplinaria, Programas de salud personalizados, Consulta médica especializada online, Servicios para migrantes, Medicina preventiva, Seguimiento continuo, Medicina basada en evidencia, Médicos especialistas, Nutricionistas, Psicólogos, Especialistas en ejercicio físico, Experiencia médica comprobada, Programas multidisciplinarios, Accesibilidad global, Tratamientos sostenibles, Calidad de vida, Enfoque preventivo, Nutrición en Venezuela, Psicólogo en Venezuela, Médico especialista en Venezuela, Atención médica para venezolanos, Salud para venezolanos, Servicios de salud en Venezuela, Consulta médica en Venezuela, Tratamiento de enfermedades en Venezuela, Prevención de enfermedades en Venezuela, Medicina del estilo de vida en Venezuela, Nutrición y salud en Venezuela, Psicología y salud en Venezuela, Salud mental en Venezuela, Salud física en Venezuela, Salud emocional en Venezuela">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#e9f9ff]">
    <Header />
    <slot />
    <Footer />
    <a class="fixed bottom-4 right-4 md:bottom-6 md:right-6 h-14 w-14 md:h-16 md:w-16 z-50" href="https://wa.me/+13213332706" title="whatsapp icon"><img src="/img/whatsapp.png" alt="whatsapp icon"></a>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth !important;
  }
  body {
    font-family: "Montserrat";
  }
</style>
