---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Precision Care: Telemedicina especializada en obesidad y enfermedades cronicas cardiometabólicas. Recibe atención integral y personalizada, desde cualquier lugar, con un equipo multidisciplinario." />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Precision Care: Telemedicina especializada en obesidad y enfermedades cronicas cardiometabólicas. Recibe atención integral y personalizada, desde cualquier lugar, con un equipo multidisciplinario." />
    <meta property="og:site_name" content="Precision Care" />
    <meta property="og:description" content="Precision Care: Telemedicina especializada en obesidad y enfermedades cronicas cardiometabólicas. Recibe atención integral y personalizada, desde cualquier lugar, con un equipo multidisciplinario." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/favicon.png" />
    <meta name="robots" content="index, follow">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="keywords"
      content="Telemedicina, Medicina cardiometabólica, Nutrición, Estilo de vida saludable, Enfermedades crónicas, Obesidad, Diabetes tipo 2, Hipertensión arterial, Dislipidemias, Atención médica personalizada, Precision Care, Salud para migrantes, Programa de telemedicina para obesidad, Tratamiento de diabetes tipo 2 online, Nutrición para enfermedades cardiometabólicas, Médico especialista en nutrición y estilo de vida, Atención médica personalizada para migrantes venezolanos, Prevención de enfermedades crónicas por telemedicina, Control de la hipertensión arterial por telemedicina, Programa multidisciplinario de salud online, Como controlar la obesidad, Como bajar el colesterol, Como controlar la diabetes, Como bajar la tensión arterial, Ramfis Nieto, Lown Scholar Harvard, Excelencia médica venezolana, Telemedicina Estados Unidos, Telemedicina Florida, cómo tratar la obesidad, médico especialista en diabetes online, programa para bajar de peso online, telemedicina para enfermedades crónicas, donde puedo tratar la hipertensión arterial">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#e9f9ff]">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Montserrat";
  }
</style>
